<div class="col-lg-12">
    <mat-progress-bar mode="query" *ngIf="dataLoading"></mat-progress-bar> 
<div class="content">
    <div class="row">
        <div class="col-md-12">
        <div class="card card-user">
            <ng-container *ngIf="!editForm">
                <div class="card-header">
                    <h5 class="card-title">Add Category</h5>
                </div>
                <div class="card-body">
                <div class="alert alert-danger" *ngIf="error">{{ errorMessage }}</div>
                <div class="alert alert-success" *ngIf="success">{{ errorMessage }}</div>
                <ng-container>
                    <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory(addCategoryForm.value)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Category</label>
                                        <div class="clear"></div>
                                    <mat-form-field class="form-control-mat-text" appearance="outline">
                                        <mat-label>Category</mat-label>
                                        <input matInput type="text" formControlName="category" id="category" autocomplete="off" name="category" required>
                                        <mat-error class="mat-error-custom" *ngIf="addCategoryForm.hasError('required','category')">You must enter a category</mat-error>
                                        <mat-error class="mat-error-custom" *ngIf="addCategoryForm.hasError('asynerror','category')">Category already exists</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button mat-raised-button class="btn btn-primary btn-round" [disabled]="addCategoryForm.invalid" type="submit">Save</button>
                            <br/>
                            </div>
                        </div>
                    </form>
                </ng-container>
                </div>
            </ng-container>


            <ng-container *ngIf="editForm">
                <div class="card-header">
                    <h5 class="card-title">Edit Category</h5>
                </div>
                <div class="card-body">
                <div class="alert alert-danger" *ngIf="error">{{ errorMessage }}</div>
                <div class="alert alert-success" *ngIf="success">{{ errorMessage }}</div>
                <ng-container>
                    <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory(editCategoryForm.value,sentParmas.catId)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Category</label>
                                        <div class="clear"></div>
                                    <mat-form-field class="form-control-mat-text" appearance="outline">
                                        <mat-label>Category</mat-label>
                                        <input matInput type="text" formControlName="category" id="category" autocomplete="off" name="category" required>
                                        <mat-error class="mat-error-custom" *ngIf="editCategoryForm.hasError('required','category')">You must enter a category</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button mat-raised-button class="btn btn-primary btn-round" [disabled]="editCategoryForm.invalid" type="submit">Update</button>
                            <br/>
                            </div>
                        </div>
                    </form>
                </ng-container>
                </div>
            </ng-container>

        </div>
        </div>
        <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Manage Category</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Keyword">
                </mat-form-field>
                    <table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
                    <ng-container matColumnDef="col1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbl-head-custm-cls"> # </th>
                        <td  mat-cell *matCellDef="let tableData let i = index"> {{ i+1 + (tblPaginator.pageIndex * tblPaginator.pageSize) }} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbl-head-custm-cls"> Category </th>
                        <td mat-cell *matCellDef="let tableData"> {{tableData.category}} </td>
                    </ng-container>

                    <ng-container matColumnDef="col2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbl-head-custm-cls"> Controls </th>
                        <td mat-cell *matCellDef="let tableData">
                            <ng-container *ngIf="tableData.status == 1">
                                <button mat-raised-button class="btn btn-sm btn-outline-success btn-round-cst btn-icon" type="button" (click)="updateCategoryStatus($event,tableData.id,tableData.status)" matTooltip="Activated"><i class="nc-icon nc-check-2"></i></button>
                            </ng-container>
                            <ng-container *ngIf="tableData.status == 0">
                                <button mat-raised-button class="btn btn-sm btn-outline-danger btn-round-cst btn-icon" type="button" (click)="updateCategoryStatus($event,tableData.id,tableData.status)" matTooltip="Deactivated"><i class="nc-icon nc-simple-remove"></i></button>
                            </ng-container>
                            <button mat-raised-button class="btn btn-sm btn-outline-info btn-round-cst btn-icon mar-lft-20" type="button"><i class="nc-icon nc-ruler-pencil" (click)="getCategoryInfo($event,tableData)" matTooltip="Edit"></i></button>

                        </td>
                    </ng-container>                            
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #tblPaginator [pageSize]="13" [length]="25" [pageSizeOptions]="[30, 50, 100, 200]" showFirstLastButtons></mat-paginator> 
                </div>  
            </div>
        </div>
        </div>
    </div>
    </div>
</div>