<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a routerLink="/dashboard" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../assets/img/logo-small.png">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a routerLink="/dashboard" class="simple-text logo-normal">
        Tool Inventory
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li routerLinkActive="active">
          <a routerLink="/dashboard">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/users">
            <i class="nc-icon nc-single-02"></i>
            <p>Users</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/inventory">
            <i class="nc-icon nc-diamond"></i>
            <p>Inventory</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/roles">
            <i class="nc-icon nc-tile-56"></i>
            <p>Roles</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/category">
            <i class="nc-icon nc-caps-small"></i>
            <p>Category</p>
          </a>
        </li>
        <!--li>
          <a href="./map.html">
            <i class="nc-icon nc-pin-3"></i>
            <p>Maps</p>
          </a>
        </li>
        <li>
          <a href="./notifications.html">
            <i class="nc-icon nc-bell-55"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li>
          <a href="./tables.html">
            <i class="nc-icon nc-tile-56"></i>
            <p>Roles</p>
          </a>
        </li-->
      </ul>
      
    </div>
  </div>

